@font-face {
    font-family: 'shn';
    src: url('./numberFont/shn.eot'); /* IE9 */
    src: url('./numberFont/shn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./numberFont/shn.woff') format('woff2'),
    url('./numberFont/shn.woff') format('woff'), /* chrome、firefox */
    url('./numberFont/shn.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./numberFont/shn.svg#shn') format('svg'); /* iOS 4.1- */
  }

  .iconfont {
    font-family: "shn";
    font-size: 28px;
    font-style: normal;
  }